{% extends 'base.html' %}
{% block title %}404 Không tìm thấy{% endblock %}
{% block content %}
<div style="height:28vh">
<h1 class="title has-text-centered"><strong>404</strong></h1>
<h3 class="subtitle has-text-centered"><strong>404 Không tìm thấy</strong></h3>
<p class="content">Hình như bạn bị lạc rồi thì phải,thử quay lại trang trước hoặc đến trang chủ xem<br>
<p class="is size-6">Đường dẫn vừa truy cập: {{request.path}}</p><br>
<p class="is-size-7 is-italic">Mô tả: {{e.description}}</p>
</p>
</div>
<div class="field">
<p class="buttons is-centered">
	<button class="button is-hovered" onclick="history.back()">
		<span class="icon is-left">
			<i class="fas fa-arrow-rotate-left"></i>
		</span>
		<span>Quay lại</span>
	</button> 
	<a href="{{ url_for('home') }}">
		<button class="button is-hovered is-warning">
			<span class="icon is-left">
				<i class="fas fa-house"></i>
			</span>
			<span>Trang chủ</span>
		</button>
	</a>
</p>
</div>
</div>
{% endblock %}