






















































<!DOCTYPE html>
<html lang='vi'>
	<head>
		<meta name="description" content="{% block description %} {% endblock %}">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{% block title required %} {% endblock %} - {{ request.url.rpartition("//")[-1].partition("/")[0] }}</title>

		
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js" integrity="sha512-3J8teBiHrSyaaRBajZyIEtpDsXdPq1gsznKWIVb5CnorQuFhjWGhWe54z8YNnHHr7MZuExb9m5kvf964HiT1Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://kit.fontawesome.com/0820a2b253.js" crossorigin="anonymous"></script>
		
		<script>
var elem = document.documentElement
function openFS() {
  if (elem.requestFullscreen) {
    elem.requestFullscreen();
  } else if (elem.webkitRequestFullscreen) { /* Safari */
    elem.webkitRequestFullscreen();
  } else if (elem.msRequestFullscreen) { /* IE11 */
    elem.msRequestFullscreen();
  }
}
		$(document).ready(function() {

  $(".navbar-burger").click(function() {
      $(".navbar-burger").toggleClass("is-active");
      $(".navbar-menu").toggleClass("is-active");

  });
		});

					$(document).ready(function() {

  $(".nav-btn").click(function() {
      $(".navbar-dropdown").toggleClass("is-active");

  });
		});

$(document).ready(function() {

  $(".navbar-dropdown").click(function() {
      $(".navbar-dropdown").toggleClass("is-active");

  });
		});
			document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});



	function checknw(online) {
		const ondiv = document.getElementById("online")
		const offdiv = document.getElementById("offline")
		if(online){
			ondiv.style.display = "block";
			offdiv.style.display = "none";
		}else{
			ondiv.style.display = "none";
			offdiv.style.display = "block";
		}
	}

	window.addEventListener("online",function(){
		//	checknw(true)
		document.getElementById("offline").style.display = "none";
		document.getElementById("has-network").style.display = "block";
		
		location.reload()
		});
window.addEventListener("offline",function(){
			checknw(false)
		});
			
</script>
<style>
 
				.nor {
				text-align:center;
				display:none;
			}
			h1.nor {
				font-size:50px;
				font-weight:20px;
			}

	}

	@media only screen and (max-width: 600px) {
	.navbar-menu {
    display: block;
    opacity: 0;

    position: absolute;   /* or float: left; width: 100%;*/
    left: 0;
    right: 0;

    transform: translateY(-50%);
    transition: all .4s ease-in-out;
    pointer-events: none;
}

.navbar-menu.is-active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
}



</style>
	{% block ext_head %}{% endblock %}
	</head>

	
	<body>
<!-- Main divs -->
<div class="offline nor" id="offline">
	<h1>Bạn đã offline</h1>
	<p>Vui lòng kết nối mạng để tiếp tục!</p>
	<button onclick="location.reload()">Tải lại</button>
</div>

<div class="has-network nor" id="has-network">
	<h1>Kết nối thành công</h1>
	<h3>Đang tải lại trang...</h3>
</div>

<div class="online">
	<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{url_for('home')}}">
			{{ domain }}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarm">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarm" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="/about/">
				Về trang web
			</a>
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link nav-btn">
					Đồ chơi
				</a>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="https://r.{{domain}}/">
						Link Shortener
					</a>
					<a class="navbar-item" href="https://d.{{domain}}/">
						Discord Shortener
					</a>
				<a class="navbar-item" href="/chs">
					Chs (games 2 play in IT room)
					</a>
					<a class="navbar-item " href="https://nopaste.{{domain}}
							/" >
						Nopaste
					</a>
				<a class="navbar-item " href="https://paste.{{domain}}
							/" >
							Npaste (BETA 
						<span class="icon">
							<i class="fas fa-flask"></i>
						</span>)
					</a>
						<a class="navbar-item " href="https://fs.{{domain}}
							/" >
							<div class="rtnav">
								File link generator (BETA 
						<span class="icon">
							<i class="fas fa-flask"></i>
						</span>)
							</div>
					</a>

					
					<!--<a class="navbar-item" href="/mcserver">
						Minecraft Server (EXP 
						<span class="icon">
							<i class="far fa-flask"></i>
						</span>
						)
					</a>-->
					
					<hr class="navbar-divider">
					<a class="navbar-item" href="about:blank">
						Coming more soon...
					</a>
				</div>
				
			</div>
			</a>
			<!-- <a class="navbar-item" href="https://status.{{domain}}"> -->
			<a class="navbar-item" href='https://github.com/hnguyen1910/status/blob/master/README.md'>
				Tình trạng
			</a>
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div id="google_translate_element"></div>
			<script type="text/javascript">
				function googleTranslateElementInit() {
					new google.translate.TranslateElement({pageLanguage: 'vi'}, 'google_translate_element');}
			</script>
			<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
			</div>
		</div>
	</div>
</nav>
    <div class="container">

        {% for message in get_flashed_messages() %}
			<div class="notification is-info is-light">
				<button class="delete"></button>
				Thông báo: {{message}}
			</div>
        {% endfor %}
			{% if get_flashed_messages() %}
			<hr>
			{% endif %}

<div class="section">
			{% block content %}{% endblock %}
</div>
		</div>
	{% block ct_nobulma %}{% endblock %}
	{% block cpr %}
<!--	<footer class="footer">
	<div class="content has-text-centered">
	<p>Bản quyền của <a href="https://tins.ml">Tins.ml</a><br/>Đã được làm với <a href="https://replit.com/">Replit</a> và ❤️</p>
<a href="//www.dmca.com/Protection/Status.aspx?id=0ac7b3c8-7c09-4bf8-861c-95839878d37f" title="DMCA.com Protection Status" class="dmca-badge"> <img src="//images.dmca.com/Badges/dmca-badge-w150-5x1-01.png?ID=//www.dmca.com/Protection/Status.aspx?id=0ac7b3c8-7c09-4bf8-861c-95839878d37f" alt="DMCA.com Protection Status"></a> <script src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
		<a href="https://www.dmca.com/compliance/shorter.tins.ml" title="DMCA Compliance information for shorter.tins.ml"><img src="https://www.dmca.com/img/dmca-compliant-grayscale.png" alt="DMCA compliant image" /></a>
	</div>
	</footer>
{% endblock %} -->
</div>
		</div>
	<!-- <footer class="footer footer-distributed" id="footer">

			<div class="footer">
<a href="//www.dmca.com/Protection/Status.aspx?ID=e38a5bfb-8c28-4afe-816a-ef77f7f6109a" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-01.png?ID=e38a5bfb-8c28-4afe-816a-ef77f7f6109a"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>

				<a href="https://github.com/hnguyen1910/"><span class="icon"><i class="fa fa-github"></i></span></a>
				<a href="mailto:admin@ti.nz.eu.org"><span class="icon"><i class="fa fa-envelope"></i></span></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="{{ url_for('home') }}">Trang chủ</a>
				</p>:

				<p>Hi everyone :D</p>
			</div>

		</footer> -->
		<footer class='footer has-background-black'>
        <div class="container ">
          <div class="is-flex is-align-items-center">
            <div class="mr-auto mb-2">
              <a class="is-inline-block has-text-white" href="/">
								<h1>tinvn.eu.org</h1>
              </a>
            </div>
            <div>
              <ul class="is-flex is-flex-wrap-wrap is-align-items-center is-justify-content-center">
                <li class="mr-4"><a class="button is-black has-text-white" href="/">Trang chủ</a></li>
                <li class="mr-4"><a class="button is-black" href="/about">Dịch vụ</a></li>
              </ul>
            </div>
          </div>
        </div>
			<hr style='background-color:#333333;height:0.5px;'>
        <div class="container">
          <div class="is-flex-tablet is-justify-content-between is-align-items-center">
            <p class='has-text-black-ter'>All rights reserved © TinVN</p>

						<p class="buttons are-small ml-auto" style='max-width:180px;'>
			<a class="button is-responsive is-dark mr-4" href="https://github.com/hnguyen1910/"><span class="icon"><i class="fa fa-github"></i></span></a>
			<a class="button is-responsive is-dark mr-4" href="mailto:admin@ti.nz.eu.org"><span class="icon"><i class="fa fa-envelope"></i></span></a>
<a href="//www.dmca.com/Protection/Status.aspx?ID=e38a5bfb-8c28-4afe-816a-ef77f7f6109a" title="DMCA.com Protection Status" class="dmca-badge button is-responsive is-dark"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-01.png?ID=e38a5bfb-8c28-4afe-816a-ef77f7f6109a"  alt="DMCA.com Protection Status" /></a> 
							<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
						</p>
          </div>
        </div>
      </footer>
	</div>
	</body>
</html>



